:root {
  --primary-color: #ff7f0a;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.theme {
  transition: all 1s ease;
}

.light {
  background-color: #eee;
  color: #111;
}

.dark {
  background-color: #111;
  color: #bbb;
}

.container {
  max-width: 1366px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.homeTitle {
  font-size: 72px;
}

.dark .homeTitle {
  background: linear-gradient(to bottom, var(--primary-color), #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.light .homeTitle {
  background: linear-gradient(to bottom, var(--primary-color), #666);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}