.container {
  display: flex;
  gap: 100px;
  align-items: center;
}

.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 50px;
}

.title {
  font-size: 72px;
  background: linear-gradient(to bottom, var(--primary-color), #bbb);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.desc {
  font-size: 24px;
  font-weight: 300;
}

.img {
  width: 100%;
  height: 500px;
}
