.container {
  display: flex;
  justify-content: space-between;
  height: 100px;
  align-items: center;
}

.logo {
  font-weight: bold;
  font-size: 22px;
}

.links {
  display: flex;
  gap: 20px;
  align-items: center;
}

.link:hover {
  color: var(--primary-color);
}

.logout {
  padding: 5px;
  border: none;
  color: white;
  border-radius: 3px;
  background: var(--primary-color);
}